*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #121212;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 210px;
    background-size: cover;
    position: relative; 
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/banner2.png");
    background-size: cover;
    opacity: 20%; 
    z-index: -1;
}

header h1{
    opacity:100%;
    font-family: Inter;
    font-weight: 800;
    font-style: Bold;
    font-size: 42px;
    color: #ffffff;
    text-shadow: 0 0 15px darkred;

}

header h4{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0 0 15px darkred;
}

a{
    text-decoration: none;
}

header h4:hover{
    text-shadow: 0 0 15px darkcyan;
}
.search-container{
    display: flex;
    justify-content: center;
    position: relative;
    top: -8px;
}

.search-icon{
    display: flex;
    width: 16px;
    height: 16px;
    position: relative;
    left: 1.5em;
    top: 0.7em;
    color: #9ca3af;
}

#search-input{
    width: 342px;
    height: 38px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    outline: none;
    padding: 0 35px;
    background-color: #2E2E2F;
    border: none;


    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    color: #A5A5A5;
}

#search-input:focus{
    background-color: #2e2e2f;
}

#search-button{
    width: 120px;
    height: 38px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #4b4b4b;
    color: #ffffff;
    outline: none;
}

#search-button:hover{
    background-color: #6c6c6c;
}


#search-result{
    width: 100%;
    height: 100%;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(345px, 500px));
    gap: 3em;
    margin-top: 2em;
    justify-content: center;
}

/* MOVIE NO STATE */

.no-state{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    grid-column: 1 / -1;
    color: #3c3c3d;
}

.no-state p{
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;    
}

.no-state button{
    font-family: "Inter";
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    background: none;
    border: none;
    color: #ffffff;
}
.film-icon{
    width: 70px;
    height: 70px;
}

/* MOVIE NO RESULT  */

.no-result {
    grid-column: 1/-1;
    min-height: 60vh;
    color:#787878;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.no-result p{
    width: 321px;
    height: 40px;
}

.hide{
display: none;
}

/* MOVIE SEARCH RESULTS */

.movie-list{
    width: 100%;
    height: 170px;
    color: #A5A5A5;
    display: flex;
    align-items: center;
    margin-bottom: -1.6em;    
}

#movie-poster{
    width: 112px;
    height: 155px;
    border-radius: 50px;
    margin: 2em;
}


#rule{
    width:95%;
    margin-left: 2em;
    border: none;
    background-color: #2c2c2c;
    height: 2px;
    grid-column: 1 ;
}

#movie-poster img{
    width: 100%;
    min-width: 112px;
    height: 100%;
}

.movie-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 342px;
    min-width: 342px;
    height: 100%;
    font-family: 'Inter';
}

#movie-title{
    font-family: "inter";
    display: flex;
    align-items: center;
    gap: 0.52em;
    color: #ffffff;
    height: 30px;
}

#movie-title h2{
    margin: 0;
}

#movie-description{
    display: flex;
    gap: 2em;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
}

#watchlist-button{
    align-self: center;
}

#add-watchlist{
    font-family: 'Inter';
    border: none;
    background: none;
    color: #ffffff;
    margin: 0;
    cursor: pointer;
}

span{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
}

#remove-watchlist{
    font-family: 'Inter';
    border: none;
    background: none;
    color: #ffffff;
    margin: 0;
    cursor: pointer;
}

#add-movies{
    cursor: pointer;
    
}


#movie-content{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;    
}

footer{
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    padding: 0.5em 0;
    background-color: #2c2c2c;
    color: #ffffff;
}
